
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#f8fafc;
    font-family:Inter,sans-serif;
}

.sidebar-btn {
  @apply w-full flex items-center gap-4 px-5 py-4 rounded-2xl text-gray-700 hover:bg-gray-100 hover:text-green-700 transition duration-200 font-medium;
}